.verify-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .image-container {
            .image {
                border-radius: 11rem;
            }
        }
        .form-group {
            margin: 1rem;
            .form-control {
                padding: 1rem;
            }
        }
        .link-container {
            padding: 1rem;
            text-decoration: underline;
            :hover {
                color: rgb(230, 189, 10);
            }
        }
    }
}