@import "../../scss/utilities.scss";

.card-container {
  background-color: white;
  overflow: hidden;
  margin: 0.1rem;
  width: min(90%, 75rem);
  border-radius: 2rem;
  .card-top-log {
    padding: 0.5rem 1rem;
    .news-log {
      max-width: 20px;
      max-height: 20px;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    .image-container {
      max-width: 200px;
      max-height: 200px;
      img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 2rem;
        padding: 1rem;
      }
    }

    .card-details {
      padding: 1rem;
      font-family: $font-family;
      font-size: min(2rem, 1rem);
      h1 {
        font-size: 1.5rem;
      }
    }
    // h1 hover
    .title:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
