.logo {
    height: 32px;
    margin: 16px;
    .brand-logo{
        width: 40px;
        border-radius: 50%;
    }
  }
  .site-layout {
    .site-layout-background {
      padding: 10px;
      background-color: #fff;
      .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #1890ff;
        }
      }
    }
  }